@media only screen and (max-width: 480px) {
    .Menu {
        width: 200px;
    }

        .Menu p {
            font-size: 15px;
        }

    .btn_drink {
        margin: 5px;
    }

        .btn_drink img {
            width: 60px;
            height: 115px;
        }

        .btn_drink p {
            font-size: 10px;
        }

    .Order {
        width: 200px;
        height: 225px;
    }

        .Order p {
            font-size: 15px;
        }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Logo {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_logo {
    width: 400px;
    padding-top: 80px;
}

.Main {
    display: flex;
    flex-direction: row;
}

.Menu {
    width: 680px;
    margin: 5px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .Menu p {
        font-size: 30px;
        font-weight: bold;
        align-self: center;
    }

.drink {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.btn_drink {
    align-items: center;
    justify-content: center;
    margin: 10px;
}

    .btn_drink img {
        border-width: 2px;
        border-color: black;
        border-style: solid;
        width: 180px;
        height: 230px;
        margin-top: 5px;
    }

    .btn_drink p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }

.Order {
    width: 680px;
    height: 500px;
    margin: 5px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

    .Order p {
        font-size: 30px;
        font-weight: bold;
        align-self: center;
    }

.total p{
    align-items: flex-end;
    justify-content: flex-end;
}
